<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.OppMapper">
    <resultMap id="oppMap" type="entities.Opportunity">
        <constructor>
            <arg column="id" javaType="String"/>
            <arg column="name" javaType="String"/>
        </constructor>
    </resultMap>

    <select id="getById" parameterType="String" resultMap="oppMap">
        select id,name from OPPORTUNITIES where id=#{id}
    </select>
</mapper>